<!-- htmlmin:ignore -->
<nav [ngClass]="{hidden: ! isLoggedIn()}">
    <ul class="nav nav-tabs">
        <li><a [routerLink]="[ '/Home']">Home</a></li>
        <li><a [routerLink]="[ '/SubPage']">SubPage</a></li>
        <li><a [routerLink]="[ '/Containers']">Containers</a></li>
        <li><a [routerLink]="[ '/DynamicPageComponent']">Dynamic</a></li>
        <li><a [routerLink]="[ '/Jquery']">Jquery</a></li>
        <li><a href="#" (click)="logout()">Logout</a></li>
    </ul>
</nav>
<!-- htmlmin:ignore -->
